[Desktop Entry]
Version=1.0
Type=Application
Name=Install NIDS
Comment=Set up Python venv and add NIDS to your app menu.
Exec=/bin/bash "/home/kali/Desktop/NIDS 4.0/installer/installer-desktop-exec.sh"
Terminal=true
Categories=Utility;
Keywords=install;nids;security;
Icon=system-software-install
